.table-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; /* Add padding for smaller screens */
}

.custom-table {
  width: 100%; /* Full width on small screens */
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding: 20px;
}

.modal-body .form-control {
  margin-bottom: 15px;
}

/* Additional media queries for responsiveness */
@media (min-width: 768px) {
  .table-container {
    max-width: 800px; /* Apply max-width for medium and larger screens */
  }

  .custom-table {
    width: 70%; /* 70% width for medium and larger screens */
  }
}

@media (max-width: 767.98px) {
  .modal-content {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .modal-body .form-control {
    margin-bottom: 10px; /* Adjust margin on smaller screens */
  }
}
